ELEVENLABS_API_KEY=sk_905e70e3d5232c5f147977b80425a16385532d6bf068d556
ELEVEN_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
OPENAI_API_KEY=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